# Django
DJANGO_SECRET_KEY=change-me-to-a-very-secret-value
DEBUG=True
ALLOWED_HOSTS=*

# Database: use Supabase pooler host or direct DB connection
DB_CONNECTION=postgresql://postgres.zkcyziciigtqzdumcluo:MoviVerseBackend1@aws-1-eu-west-2.pooler.supabase.com:5432/postgres?sslmode=require

# Redis for cache + celery
REDIS_URL=redis://default:REDIS_PASSWORD@your-redis-host:6379/0

# TMDb API
TMDB_API_KEY=your_tmdb_api_key_here

# JWT
SIMPLE_JWT_SECRET=another-secret-for-jwt

# Supabase REST API
SUPABASE_URL=https://zkcyziciigtqzdumcluo.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InprY3l6aWNpaWd0cXpkdW1jbHVvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQxNjY3OTAsImV4cCI6MjA3OTc0Mjc5MH0.9NJc-OShVtPUS_bUgzCGURR_k28E-9salKoMw37Z_j8
